#container{
margin:0;
position:relative;width:60px;height:60px;background-color:black;margin-left:20px;
margin-top:20px;


}
.yi{
width:30px;
height:30px;
background-color:#00a1f1 ;
line-height:30px;
text-align:center;
color:white;
position:absolute;
left:15px;
top:0px;




}
.qi{
position:absolute;
width:30px;
height:30px;
background-color:#7cbb00 ;
text-align:center;
line-height:30px; 
color:white;
left:0;
bottom:0


}
.ok{
position:absolute;
width:30px;
height:30px;
background-color:#ffbb00 ;
line-height:30px;
text-align:center;
right:0;
bottom:0;

color:black;

}
.title{
width:400px:
height:60px;
color:#00a1f1;
font-family: Arial, Helvetica, sans-serif;
background-color:#000000;
font-size:50px;



  }
  .push{
  color :black;
  height:50px;
  font-size:30px;}
#searchName{
width:600px;
height:50px;
color:black;
font-size:30px;



}
#bodydiv{
height: 100%; margin: 0; padding: 0;height: auto; min-height: 100%; text-align:center;


}
#footer{

text-align:center;
color:#00a1f1;





}
#main{
color:white ;

}
body{
background-color:black;

}


